body
	{
		margin:0;
		
		/*background-image:url(bg.jpg);*/
		background-attachment:fixed;
		/*background-size: cover;*/

	}
	
	h1	
	{
		/*background-color:lightblue;*/
		color:black;
		margin:0;
		padding:20px 45px;
		font-size:70px;
		border-left:75px solid grey;
		text-shadow: 3px 0px grey;
		font-variant: small-caps;
  		position: sticky;
    	top: 0;

	}
.done{
	text-decoration: line-through;
}
.input-group{
	width:30%;
	margin:0px 5px;
}

ol{
	width:30%;
	margin:5px 35px;
	font-size:30px;
	font-family:"Courier New" ;
}
li:hover{
	background-color: lightblue;
}
.del{
	background-image: url(del.jpg);
	
	width:50px;
	height:50px;
	background-size: cover;
	float:right;
}
